@import 'utilities.css';

.root {
    --primary: #3dcfd3;
    --dark: #161616;
    --pure: #ffffff;
    --ternary: #898989;
    --light: #f2f2f2;
}

body{
    font-family: 'poppins', sans-serif;
}

html{

    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smotthing: antialiased;
    color: #ffffff;
    text-decoration: none;
}



header{
    background: #161616;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 87%, 0 100%);
    padding: 65px -10px;
}

.container{
    max-width: 1152px;
    padding: 0 15px;
    margin: 0 auto;
}


@media (min-width: 576px){
    .container{
        max-width: 540px;
    }
}


@media (min-width: 768px){
    .container{
        max-width: 720px;
    }
}


@media (min-width: 992px){
    .container{
        max-width: 960px;
    }
}


@media (min-width: 1200px){
    .container{
        max-width: 1125px;
    }
}



header nav .left a{
    color: #ffffff;
    text-decoration: none;
    margin-right: 2rem;
    text-transform: uppercase;
    transition: all .3s ease;
}

header nav .left a:hover{
    color: #3dcfd3;

}

header nav{

    padding: 2rem 0;
}

header nav .branding{

    margin-right: 3rem;

}

header nav .branding img{
    width: 50px;
}

.hero{
    padding: rem;
}

.hero .left img{
width: 550px;
padding-right: 10%;
}

.hero .right {
    color: #ffffff;
}

.hero .right h6{
    font-size: 1.6rem;
    color: #3dcfd3;
    margin-bottom: 0.5rem;
}

.hero.right h1{
    font-size: 4rem;
    font-weight: 100;
    line-height: 1.2;
    margin-bottom: 2rem;
}

.hero .right h1 span{
    color: #3dcfd3;
}

.hero .right p{
    line-height: 1.9rem;
    margin-bottom: 2rem;
}

.hero.right {
    margin-top: -7rem;
}

section{
    padding: 6rem 0;
}

section.about .about-me-img{
height: 400px;
}

section.about h1{
    color: #000;
    margin-bottom: 2rem;
    font-size: 1.6rem;
    font-weight: 400;
}

section.about h1 span{
    color: #3dcfd3;

}

section.about h3{
font-size: 1rem;
margin-bottom: 1rem;
font-weight: 400;
}

section.about p{
    font-family: 'Lato', sans-serif;
    color: #f2f2f2;
    line-height: 1.9rem;
    margin-bottom: 2rem;
    color: #000;
}

section.about .social{
    display: flex;

}

section.about .social a{
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: 0.6rem;
    transition: all 0.3s ease;
    text-decoration: none;
}


section.about .social a i{
    width: 100%;
    height: 100%;
    padding: 0.6rem;
    color: #ffffff;
    transition: all .3s ease;
}

section.about .social a i:hover{
    background: #3dcfd3;
    border-radius: 50%;
}


.section-heading{
    color: #000;
    text-align: center;
    margin-bottom: 1rem;
    line-height: 0.5rem;
}

.section-heading span{
    color: #3dcfd3;
}

.section-heading + p{
    color: #898989;
    font-family: 'Lato' sans-serif;
    margin-bottom: 8rem;
    text-align: center;
}


section.services{

    background: #f2f2f2;
}

section.services .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 6rem;
}


section.services .card-wrapper .card{

    background: #ffffff;
    padding: 3rem 2rem;
    position: relative;
    padding-top: 5rem;
    text-align:center;
    transition: all .3s ease; 
}

section.services .card-wrapper .card img{
    position: absolute;
    top: -3.5rem;
    left: 50%;
    transform: translateX(-50%);
    height: 50%;
    background: #000;
}

section.services .card-wrapper .card h2{
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: #000;
}

section.services .card-wrapper .card p{
    font-family: 'Lato', sans-serif;
    color: #898989;
    line-height: 1.6rem;
}

section.services .card-wrapper .card:hover{
    background: #000;
}

section.services .card-wrapper .card:hover h2{
    color: #ffffff;

}

 section.services .card-wrapper .card:hover p{
    color: #ffffff;
    }



section.freelancer{
    text-align: center;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(../images/camera.png);
    color: #ffffff; 
    clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 70%, 0 100%);
    padding-bottom: 15rem;
}


section.freelancer h1{
    font-size: 2rem;
    margin-bottom: .5rem; 
}

section.freelancer p{
    margin-bottom: 2rem;
    font-family: 'Lato', sans-serif;

}

section.freelancer h2{

    margin-bottom: 2rem;

}

section.reviews .slider .slide img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 2rem;

}


section.reviews .slider .slide{
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 6rem;

}

section.reviews .slider .slide h1{
    font-family: 'Lato', sans-serif;
    margin-bottom: 1rem; 

}

section.reviews .slider .slide span{
    font-size: 0.8rem;
    color: #898989;

}

section.reviews .slider-dots .dots{

    list-style-type: none;
    display: flex!important;
    justify-content: center;

}


section.reviews .slider-dots{
    margin-top: 3rem;
}

section.reviews .slider-dots button{
    font-size: 0;
    width: 20px;
    height: 5px;
    margin-right: 0.3rem;
    border: none;
    outline: none;
    background: #898989;
    border-radius: 50px;
    cursor: pointer;
}

section.reviews .dots li.slick-active button{
    background: #3dcfd3;
    width: 40px;
}

section .work{
    background: #f2f2f2;
}

section.work .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    justify-content: center;
}

section.work .card-wrapper .card{
    position: relative;
    
}

section.work .card-wrapper .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(61,287,211,0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #898989;
    color: #f2f2f2;
    opacity: 0;
    transition: all 0.3s ease;
}

section.work .card-wrapper .card:hover .overlay{
    opacity: 1;
}


section.work .card-wrapper .overlay a h1{
    color: #000;
    text-decoration:none;

}


section.work .card-wrapper.card img{
     height: 100%;
     width:100%;
}


section.blog {

    background: #161616;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 85%, 0 100%);
    padding-bottom: 12rem;
}

section.blog .section-heading{
    color: #ffffff;
}


section.blog .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
    justify-content: center;
}

section.blog .card-wrapper .card{
    color: #ffff;
    background: #ffffff;

}

section.blog .card-wrapper .card .img-wrapper{
    width: 100%
    height:100%
    object-fit:cover;

}

section.blog .card-wrapper .card-content{
    padding:1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

section.blog .card-wrapper .card-content h1{
    font-size: 1rem;
    font-weight: 600;
    color: #000;
}

section.blog .card-wrapper .card-content a{
    color: #000;
    text-decoration: none;

}

section.blog .card-wrapper .card-content a:hover{
    color: #3dcfd3;
}

section.blog .card-wrapper .card-content span{
    color: #898989;
    font-size: 0.8rem;

}


section.blog .card-wrapper .card-content p{
    font-family: 'Lato', sans-serif;
    color: #898989;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

section.blog .card-wrapper .card-content a.read-more{
    font-size: 0.8rem;
}

section.contact .card-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;

}


section.contact .card-wrapper .card{

    text-align: center;
}

section.contact .card-wrapper .card img{

    margin-bottom: 3rem;

}


section.contact .card-wrapper .card h1{
    font-weight: 400;
    margin-bottom: 1rem;

}

section.contact .card-wrapper .card h6{
    font-size: 1rem;
    color: #898989;
    font-weight: 400;
    margin-bottom: 4rem


}


section.contact .input-wrap{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem; 
    margin-bottom: 2rem;

}


section.contact .input-wrap-2{
    display: flex;
    flex-direction: column;


}

section.contact .input-wrap-2 input{
    margin-bottom: 2rem;
    
    

}


section.contact input{
    padding: 0.5rem;
    border: 1px solid #000;
    font-size: 0.9em;
    border-radius: 8px ;
    color: #000;

}

section.contact .input-wrap-2 textarea{
    padding: 0.5rem;
    border: 1px solid #000;
    margin-bottom: 2rem;
    border-radius: 10px;
    color: #000;

}

section.contact .input-wrap-2 textarea:focus{
    outline: none;
}


section.contact input:focus{
    outline: none;

}


section.contact .btn-wrapper{
    text-align: center;
    margin-top: 2rem;
}

footer{

    background: #161616;
    text-align: center;
    padding: 3rem 0;
}

footer .footer-logo{
    margin-bottom: 3rem;
    width: 200px;
}

footer .footer-socials a{
    margin-right: 1rem;
    color: #ffffff;
}

footer .footer-socials a:hover{
    color: #3dcfd3;
}

footer .footer-socials{
    margin-bottom: 2rem;
    margin-right: -1rem;
}


footer .copyright{
    color: #898989;
    margin-top: 2rem;
}




.main-site-wrapper{
    position: relative;
}

.hamberger{
    position: absolute;
    top: 40px;
    right: 40px;
    z-index: 11;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    display: none;

}

.hamberger img{
    width: 30px;
}

.mobile-nav{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    background: #f2f2f2;
    width: 100%;
    height: 100%
    padding:2rem;
    padding-top: 5rem;
    transform: translateX(-100%);
    transition: all .5s ease-in-out;
}


.open{
    transform: translateX(0);
}

.times{
    position: fixed;
    top: 30px;
    right: 30px;
    border: none;
    background: none;
    outline:none;
    cursor: pointer; 
}

.times img{
    width: 30px;
}

.mobile-nav ul{
    list-style-type: none; 
    cursor: pointer;
}

.mobile-nav ul img{

    width: 100px;
    position: relative;
    margin-top: -5rem;
    background: #000;
    outline: none;
}

.mobile-nav ul li a{
    color: #000;
    text-decoration: none;
    font-size: 2rem;


}


@media (max-width: 1024px){
    header #main-nav{
        display: none;
    }

    .hamberger{
        display: block;
    }

    .hero .right{
        margin-bottom: 100px;
    }

    .hero .left img{
        width: 260px;
        margin-bottom: 150px;   
    }

    .hero .left h1{
        font-size: 3rem;
    }

    .hero{
        padding-top: 10rem;
    }

    header{
        clip-path: polygon(0 0,100% 0,100% 100%,27% 92%,0 100%);
    }

    section.about .about-me-img{
        height: 300px;
    }

    section.services .card-wrapper{
        grid-template-columns: repeat(2, 1fr);
    }

    section.work .card-wrapper{
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;   
    }

    section.blog .card-wrapper{
        grid-template-columns: repeat(1, 1fr);
    }

    section.blog{
        clip-path: polygon(0 0,100% 0,100% 100%,67% 97%,0 100%);   
    }


}


@media (max-width: 576px){
    .hero{
        flex-direction: column;
    }

    header{
        clip-path: polygon(0 0,100% 0,100% 100%,69% 95%,0 100%);
    }

    .hero .right{
        position: absolute;
        top: 105px;
        padding: 0 1rem;
        background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.9));
    }

    .hero .right h1{

        line-height: 2rem;
    }

    .hero .right h6{

        margin-top: -1rem;
    }

    .hero .left{
        margin-top: -5rem;
        margin-right: -9rem;
        padding-bottom: -3rem;

    }

    .hero .left img{
        margin-bottom: 6rem;

    }

    .about-inner-wrap{
        flex-direction: column;
    }

    .about .right{
        text-align: center;
        margin-top: 2rem;
    }

    .about .right p{
        line-height: 2rem;
        margin-top: -5rem;
    }

    .about .right .social{
        justify-content: center;
    }

    section{
        padding: 4rem;
    }

    section.services .card-wrapper{
        grid-template-columns: repeat(1, 1fr);
        margin-top: 6rem;
    }

    section.services .card-wrapper .card img{
        margin-top: -1rem;
        width: 100px;
        height: 100px;
    }

    section.services .card-wrapper .card{
        padding: 50px;
        justify-content: center;
    }

    section.freelancer h1{
        line-height: 1.2;
    }

    section.freelancer{
        clip-path: polygon(0 0,100% 0,100% 100%,67% 90%,0 100%);
        padding-bottom: 8rem;   
    }

    section.reviews .slider .slide{
        padding: 0;
    }

    .section.heading + p{
        margin-bottom: 3rem;
    }

    section.work .card-wrapper{
        grid-template-columns: repeat(1, 1fr);
    }

    section.contact .card-wrapper{
        grid-template-columns: repeat(1, 1fr);
    }

    section.contact .input-wrap{
           grid-template-columns: repeat(1, 1fr);
    }

    section.blog .card-wrapper{
        grid-template-columns: repeat(1, 1fr);
    }


}